# Comments (such as title, author, etc)
#
# The other lines have this format:
#  Menu, “Menu Item”, ClassName
# Example:

Plugins>Choose_Roi, "Biggest area", chooser.ChooseRoi("biggest")
Plugins>Choose_Roi, "Smallest area", chooser.ChooseRoi("smallest")
Plugins>Choose_Roi, "Best mean intensity", chooser.ChooseRoi("bestmean")
Plugins>Choose_Roi, "Circular Rois", chooser.ChooseRoi("circ")
Plugins>Choose_Roi, "Oriented Rois", chooser.ChooseRoi("orient")
Plugins>Choose_Roi, "List pixel inside Rois", chooser.ChooseRoi("inside")
Plugins>Choose_Roi, "Sort Rois by slice position", chooser.ChooseRoi("sort")
